/* This file overrides the standard style of the CodeMirror element. */

/* General editor styling. */
.cm-editor {
	background: #c5b1ff11;
	color: #cceeffaf;
}

[data-theme='light'] .cm-editor {
	background: #c5b1ff11;
	color: #cceeffaf;
}

/* Gutter styling. */
.ͼ2 .cm-gutters {
	background: transparent;
	border-right: 0;
	color: #ffffff4c;
}

/* Active line styling. */
.ͼ2 .cm-activeLine,
.ͼ2 .cm-activeLineGutter {
	background: #cceeff11;
}

/* Keywords: SELECT, FROM, ... */
.ͼb,
.ͼp {
	color: #c81919;
	font-weight: 600;
}

/* String values */
.ͼe {
	color: #98bc37;
}

/* Cursor */
.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
	border-left-color: #528bff;
}

.ͼ1 .cm-line {
	padding: 0 4px;
}

.ͼ1 .cm-content {
	padding: 3px 0;
}
